.header{
    background-color: #000000;

    .list{
        gap: 16px;
        font-weight: 600;
    
        .active-item{
            background-color: #ffffff;
            color: #000000;
            border-radius: 8px;
            font-weight: 600;
        
            &:hover{
                color: #000000;
                background-color: #edecec;
            }
        }
    }
}